<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="home-container">

    <h1>Contact Management System</h1>

    <p>
        Spring Boot + MySQL + Spring Security Project
    </p>

    <div class="buttons">

        <a href="/contact-form">
            <button class="btn">
                Add Contact
            </button>
        </a>

        <a href="/contact-list">
            <button class="btn">
                Admin Login
            </button>
        </a>

    </div>

</div>
</body>
</html>